.main_btn {
    padding: 14px 20px;
    background-color: var(--button-primary-bg);
    color: var(--white);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 16px;
    position: relative;
    border-radius: 6px;
}

.main-btn--loading {
    padding: 17px 20px 17px 52px;

}

.btnLoader {
    position: absolute;
    top: 13px;
    left: 20px;
}



.main_btn:disabled {
    background-color: var(--button-primary-bg-disabled);
}

.main_btn_loading:disabled {
    background-color: var(--button-primary-bg);
}

.main_btn:hover {
    background-color: var(--brand-hover);
}

.main_btn_loading:hover {
    background-color: var(--brand--button-primary-bg);
}


.main_btn_loading_dis:hover {
    background-color: var(--button-primary-bg-disabled);
}

.main_btn_loading_dis {
    padding: 17px 20px 17px 52px;

    background-color: var(--button-primary-bg-disabled);
}

.main_btn_dis {
    background-color: var(--button-primary-bg-disabled);
}

.main_btn_dis:hover {
    background-color: var(--button-primary-bg-disabled);
}


.main-btn--active {
    background-color: var(--brand-active);
}

.main-btn--active:hover {
    background-color: var(--brand-active);
}