.card-icon {
    max-width: 360px;
    box-sizing: border-box;
    cursor: pointer;
}

.card-icon:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

}

.card-icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-icon--span {
    color: var(--text-secondary);
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.img__block {
    height: calc(auto - 4px);
    display: flex;
    background-color: var(--card-bg);
}

.card-icon .card__title {
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-description {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    gap: 8px;
}

.card-main {
    background-color: var(--card-bg);
    padding: 24px 12px 24px;

}

.card__descr {
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__bottom-content {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-secondary);
}

.card__action-slot {
    font-weight: 400;
    line-height: 18px;
    font-size: 19px;
}

.card__action-slot button {
    padding: 17px 20px;
    font-size: 18px;
    line-height: 18px;
}