.super_input {
    padding: 18px 12px 16px;
    border: none;
    width: 369px;
    font-size: 16px;
    border: 1px solid var(--brand);
    box-sizing: border-box;
    height: auto;

    &:focus {
        height: 52.4px;
        width: 367px;
        box-sizing: border-box;
        outline: none;
        border: 2px solid var(--brand-hover);
    }
}

.super_input_block {
    position: relative;
}

.input_icon {
    position: absolute;
    top: 13.5px;
    left: 330px;
}

.super_input:disabled {
    background-color: var(--white);
    color: rgba(0, 0, 0, 0.2);
}

.srchinp_input {
    min-width: 1154px;
}

.multi__options ul {
    background-color: var(--btn-active-text);
    margin-top: 8px;
    border-radius: 8px;
    max-width: 393px;
}

.multi__options ul li {
    padding: 14px 12px;
}