.header__user_img {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.userIcon {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;

    .userIcon__name {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
}