.repos_bottom_btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    background-color: inherit;
    border: none;
    padding: 10px 14px;
}

.repos_bottom_btn_active {
    background-color: var(--button-primary-bg);
    color: var(--btn-active-text);
}

.repos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 36px;
    row-gap: 80px;
}

.repo_card__link {
    text-decoration: none;
}


.repos_bottom_btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

.repos_bottom_btns__btns_list {
    display: flex;

}


.stub {
    position: relative;
    display: flex;
    padding: 80px;
    font-size: 50px;
    color: var(--card-bg);
    justify-content: center;
    margin-top: 30px;
    border-radius: 10px;
    background-color: var(--card-bg);
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/kak-dvuhletnii-repozitorii-na-GitHub-stal-trendovym-za-48-chasov.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
}

.stub::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    mix-blend-mode: multiply;
}

.stub__title {
    z-index: 99999;
}

.error_stub {
    background-image: url('../img/5ed9c835-f446-43f8-9984-39104d57f76c.jpeg');
    background-size: contain;
    background-color: var(--error-stub);
    display: flex;
    padding: 80px 80px;
    font-size: 50px;
    color: var(--card-bg);
    justify-content: flex-end;
    margin-top: 30px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
}


@mixin fill-full($dir: 'full', $type: absolute) {
    position: $type;

    @if $dir !='bottom' {
        top: 0;
    }

    @if $dir !='right' {
        left: 0;
    }

    @if $dir !='left' {
        right: 0;
    }

    @if $dir !='top' {
        bottom: 0;
    }
}

.cat {
    position: relative;
    width: 100%;
    max-width: 20em;
    overflow: hidden;
    background-color: #e6dcdc;

    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &:hover>* {
        animation-play-state: paused;
    }

    &:active>* {
        animation-play-state: running;
    }
}

%cat-img {
    @include fill-full;
    animation: rotating 2.79s cubic-bezier(.65, .54, .12, .93) infinite;

    &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        background-size: 200%;
        background-repeat: no-repeat;
        background-image: url('https://images.weserv.nl/?url=i.imgur.com/M1raXX3.png&il');
    }
}

.head {
    @extend %cat-img;

    &::before {
        top: 0;
        right: 0;
        background-position: 100% 0%;
        transform-origin: 0% 100%;
        transform: rotate(90deg);
    }
}

.tail {
    @extend %cat-img;
    animation-delay: .1s;

    &::before {
        left: 0;
        bottom: 0;
        background-position: 0% 100%;
        transform-origin: 100% 0%;
        transform: rotate(-30deg);
    }
}

.body {
    @extend %cat-img;
    animation-delay: .1s;

    &:nth-of-type(2) {
        animation-delay: .2s;
    }

    &::before {
        right: 0;
        bottom: 0;
        background-position: 100% 100%;
        transform-origin: 0% 0%;
    }
}

@keyframes rotating {
    from {
        transform: rotate(720deg);
    }

    to {
        transform: none;
    }
}

.box {
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    background-color: #e6dcdc;
}