.header__logo_title {
    display: flex;
    gap: 24px;
    align-items: center;
}

.logo_title__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;

}